.article-toc{
	top: 2rem;
	height: calc(100vh - 2rem);
	position:sticky;
	max-height: calc(100vh - 2rem);
	overflow-y: scroll;
}
.toc h1{
	font-size: 1.5rem;
}
.index_rectangle{
	width: 10rem;
	height: 10rem;
	border: 2px solid;
	border-radius: 20px;
	margin: 2rem;
}
.index_rectangle_in{
	text-align:center;
	margin: auto 0;
	position: relative;
	top: calc(4rem);
	height: 1rem;
}
