#table-of-contents {
    position: fixed;
    top: 100px;
    right: 0;
    /* width: 250px; */
    /* height: 100%; */
    overflow-y: auto;
    border-left: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f9f9f933;
    /* font-family: Arial, sans-serif; */
}

#table-of-contents h2 {
    margin: 0 0 10px 0;
    font-size: 20px;
    color: #333;
}

#table-of-contents ul {
    list-style-type: none;
    padding: 15px;
    margin: 0;
}

#table-of-contents ul li {
    margin-bottom: 5px;
}

#table-of-contents ul li a {
    text-decoration: none;
    color: #007BFF;
    font-size: 14px;
    transition: color 0.3s;
}

#table-of-contents ul li a:hover {
    color: #0056b3;
}
